<div class="course-card" *ngIf="course"
    [ngClass]="cardClasses()"
>
    <div class="course-title"
        [ngStyle]="cardStyles()"
        *ngIf="course.description; else noDescription"
    >{{index || ''}} {{course.description}}</div>
    <ng-template #noDescription>
        <p>Description</p>
        <ng-container *ngTemplateOutlet="warnTpl; context: {description: 'Unknown'}">

        </ng-container>
        
    </ng-template>

    <ng-content select=".course-selection1"></ng-content>    

    <div class="course-category">
        @switch (course.category) {
            @case ("BEGINNER") {
                <div class="category">Beginner</div>
            }
            @case ("INTERMIDIATE") {
                <div class="category">Intermidiate</div>
            }
            @case ("ADVANCED") {
                <div class="category">Advanced</div>
            }
            @default {
                <div class="category">Unknown</div>
            }
        }
    </div>
    
    <ng-content select="[courseSelection2]"></ng-content>

    <!-- <div class="course-category" [ngSwitch]="course.category">
        <ng-container *ngSwitchCase="'BEGINNER'">
            <div class="category">Beginner</div>        
        </ng-container>
        <div class="category" *ngSwitchCase="'INTERMIDIATE'">INTERMIDIATE</div>        
        <div class="category" *ngSwitchCase="'ADVANCED'">ADVANCED</div>        
        <div class="category" *ngSwitchDefault>All levels</div>        
    </div> -->

    @if(course.iconUrl){
        <img width="300" alt="Angular Logo" src={{course.iconUrl}}>
    }
    @else {
        <h2>No image available</h2>
    }

    <div class="course-description">
        <span>
            Edit title: <input #courseTitle type="text" 
                [value]="course.description"
                (keyup)="onTitleChanged(courseTitle.value)"
                
                >
        </span>
        <span>
            {{course.longDescription}}
        </span>
    </div>

    <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
</div>