<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo" #demoRef>
  <div>Start date: {{startDate | date:'dd/MMM/yyyy'}}</div>
  <div>{{title | uppercase}}</div>
  <div>{{price | number: '3.3-4'}}</div>
  <div>{{price | currency}}</div>
  <div>{{rate | percent}}</div>
</div>

<div class="courses">
  @for(course of courses | slice:0:4; track trackCourse; 
    let count = $count;
    let last = $last;
    let odd = $odd;
  ){
    <div *ngFor="let pair of course | keyvalue">
      {{pair.key + ': ' + pair.value}}
    </div>
    <course-card
      [course]="course"
      (courseSelected)="onCourseSelected($event)" 
      [index]="$index"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="$even"
      [class.is-odd]="odd"
      *ngIf="!last"
    />
    <course-card #lastCourse
      [course]="course"
      (courseSelected)="onCourseSelected($event)" 
      [index]="$index"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="$even"
      [class.is-odd]="odd"
      *ngIf="last"
    />

  }
  @empty{<h1>No courses found</h1>}
</div>


