<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>
<h4 i18n="welcome message | Greet the user at the beginning of the course@@welcomeMessage">Welcome to Angular17 i18n</h4>

<div i18n> { coursesTotal, plural, 
  =0 {No courses available.}
  =1 {One course is available} 
  other {A total of {{coursesTotal}} courses are available.}
}</div>

<button (click)="onCoursesEdited()" i18n>Edit Courses</button>

<div class="demo" #demoRef>
  <div>Start date: {{startDate | date:'dd/MMM/yyyy'}}</div>
  <div>{{title | uppercase}}</div>
  <div>{{price | number: '3.3-4'}}</div>
  <div>{{price | currency}}</div>
  <div>{{rate | percent}}</div>
</div>

<div class="demo-triggers">
  <!-- <input placeholder="Type to trigger prefetch" #prefetch> -->
  <!-- <div #prefetch>Prefetch div</div> -->
  <button #display (click)="onDisplay()">Trigger display</button>
  <button #prefetch (click)="onPrefetch()">Trigger prefetch</button>
</div>
<!-- @defer(on idle; prefetch on immediate ) { -->
<!-- @defer(on timer(10s); prefetch on timer(5s) ) { -->
<!-- @defer(on viewport(title); prefetch on idle ) { -->
<!-- @defer(on interaction(display); prefetch on interaction(prefetch) ) { -->
<!-- @defer(on interaction(display); prefetch on hover(prefetch) ) { -->
@defer(when displayTrigger; prefetch when prefetchTrigger) {
<div class="courses" *ngIf="courses$ | async as courses">
  @for(course of courses; track trackCourse; 
    let count = $count;
    let last = $last;
    let odd = $odd;
  ){
    <div *ngFor="let pair of course | keyvalue">
      {{pair.key + ': ' + pair.value}}
    </div>

    <course-card highlighted #highlighter="hl"
      (toggleHighlight)="onToggle($event)"
      (dblclick)="highlighter.toggle()"
      (courseChanged)="save($event)"

      [warnTpl]="testWarn"
      [course]="course"
      (courseSelected)="onCourseSelected($event)" 
      [index]="$index"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="$even"
      [class.is-odd]="odd"
      *ngIf="$first"
    />

    <course-card
      type="Attr Decorator"
      [warnTpl]="testWarn"
      [course]="course"
      (courseSelected)="onCourseSelected($event)" 
      [index]="$index"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="$even"
      [class.is-odd]="odd"
      *ngxUnless="last || $first"
    />

    <ng-template #testWarn let-courseName="description">
      <p class="warn">{{courseName}} warn template</p>
    </ng-template>
    <ng-container  *ngTemplateOutlet="testWarn; context: {description: course?.description || 'undefined'}">
    </ng-container>

    <course-card #lastCourse
      [course]="course"
      (courseSelected)="onCourseSelected($event)" 
      [index]="$index"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="$even"
      [class.is-odd]="odd"
      *ngIf="last"
    >
      <div class="course-selection1">course-selection1</div>
      <h5>This is the last Course</h5>
      <div #courseSelection2><span class="courseSpan">course-selection2</span></div>
      <div #courseSelection2><span class="courseSpan">course-selection2</span></div>
    </course-card>

  }
  @empty{<h1>No courses found</h1>}
</div>
}
@placeholder(minimum 1s){
  <h2>This is the placeholder</h2>
}
@loading(minimum 4s; after 1s){
  <h2>Loading indicator</h2>
}
@error{
  <h2>An error occurred.</h2>
}